<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="X.Data.Properties.Settings.yt_gisConnectionString"
            connectionString="Data Source=.;Initial Catalog=yt.gis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>