<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="X.App.Properties.Settings.yt_gisConnectionString"
            connectionString="Data Source=.\X;Initial Catalog=yt.gis;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>